body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}


body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-fluid .jumbotron, .container .jumbotron {
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

.jumbotron {
  height: 90vh;
  display: flex;
}

.wrapper__jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jumbotron__content {
  width: 75%;
  border-left: 2px solid black;
  padding-left: 2em;
}

.jumbotron__content h1 {
  font-size: 3em;
  font-weight: bold;

}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__container {
  display: flex;
  flex-direction: row;
}

.contact-section {
  margin: 5em;

}
.contact-form {
  display: flex;
  flex-direction: column;
}



.fa-envelope,
.fa-linkedin,
.fa-instagram {
  font-size: 2.5em;
  padding: 0.2em;
}

.image__styling {
  width: 200px;
}

@media screen and (max-width: 1024px)
{
.container-fluid .jumbotron, .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
}
.about__container {
  display: flex;
  flex-direction: column;
}

.about__image {
  width: 75%;
}
}

@media screen and (min-width: 300px) {

.jumbotron {
    padding-bottom: 48px;
    padding-top: 48px;
}


.jumbotron {
  background-color: #eee;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}
}
